body {
    display: flex;
    width: 100%;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 30%;
    text-align: center;
    font-family: Arial;
    float: left;
    position: sticky;
    background-color: #424242;
    min-height: 100vh;
}

.h2 a {
    display: none;
}

.socials {
    padding-right: 2em;
}

.image img {
    border-radius: 20%;
    border-style: solid;
    max-width: 12em;
}

.about {
    text-align: center;
    font-size: 1.2em;
    padding-left: 2%;
    padding-right: 2%;
    border-color: #424242;
    color: whitesmoke;
}

.mobile_name {
    display: none;
}

.mobile_socials {
    display: none;
}

.right {
    float: right;
    width: inherit;
}

.info {
    background-color: whitesmoke;
}


/* Parent: flex */

.info_desc {
    display: flex;
}


/* Left */

.info_date {
    width: 30%;
    padding-left: 1em;
}


/* Right */

article {
    width: inherit;
}

.info_content {
    width: 70%;
}

.recent {
    font-family: Arial;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
}

.recent p {
    text-align: left;
}

h1 {
    font-family: Arial;
    color: black;
    text-align: center;
    font-size: 3.5em;
}

img {
    max-width: 3em;
    height: auto;
    text-align: center;
}

ul {
    text-align: left;
}

i {
    font-size: 4em;
}

section h3 {
    font-weight: bold;
    margin-top: 0;
}

h2 {
    background-color: #757575;
    color: whitesmoke;
    text-align: center;
    margin-top: 0;
}

.h_right {
    text-align: right;
}

.fab {
    color: inherit;
}

.hobbie_int {
    padding-left: 1em;
    padding-right: 1em;
    display: inline;
}

header {
    text-align: right;
}

.facebook {
    border-radius: 20%;
    display: inline;
}

.twitter {
    border-radius: 20%;
    display: inline;
}

.instagram {
    border-radius: 20%;
    display: inline;
}

article {
    width: 30%;
}

article ul {
    list-style: none;
}

.center-flex {
    display: flex;
    justify-content: center;
}


/* used to hide social media */

a {
    text-decoration: none;
}

.contact {
    text-align: center;
}

.hobbies {
    top: 100%;
    position: inherit;
}

@media only screen and (max-width: 1000px) {
    .about p {
        font-size: 0.8em;
        color: whitesmoke;
    }
    body {
        display: block;
    }
    .right {
        padding-left: 1em;
    }
    header>h1 {
        display: none;
    }
    .image img {
        max-width: 9em;
    }
    .image {
        margin-bottom: -0.8em;
        padding-top: 0.5em;
    }
    nav {
        width: 100%;
        min-height: 0%;
    }
    h2 {
        font-size: 1.2em;
    }
    li {
        font-size: 0.9em;
    }
    h1 {
        font-size: 1.6em;
    }
    .hobbies {
        display: inline;
    }
    .hobbie_int {
        display: flex;
    }
    img {
        max-width: 2em;
    }
    h3 {
        font-size: 1em
    }
    header>h1 {
        display: none;
    }
    .mobile_name {
        font-family: Arial;
        border-color: #424242;
        display: inline;
    }
    .mobile_name>h1 {
        color: whitesmoke;
        background-color: #757575;
        border-style: solid;
        border-color: #757575;
    }
    .socials {
        display: none;
    }
    .mobile_socials {
        display: inline;
    }
    .info_date {
        font-size: 0.7em;
    }
    /* article {
        font-size: 0.8em;
        display: flex;
    } */
    .center-flex {
        display: block;
    }
    article {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        display: block;
    }
}