body {
    display: flex;
    width: 100%;
    background-color: #424242;
}
h1 {
    font-family: Arial;
    color: whitesmoke;
    text-align: center;
    font-size: 65px;
}

section {
    font-family: Arial;
    text-align: center;
}

.name {
    text-align: center;
}

.image img {
    border-radius: 20%;
    border-style: solid;
}

.header {
}

.right {
    float: right;
    width: inherit;
}

img {
    max-width: 200px;
    height: auto;
}

.recent {
    font-family: Arial;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.recent p {
    text-align: left;
}

.nav {
    width: 30%;
    text-align: center;
    font-family: Arial;
    float: left;
    position: sticky;
    background-color: #424242;
}

.about {
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    padding-left: 5px;
    padding-right: 5px;
    border-color: #424242;
    color: whitesmoke;
}
ul {
    text-align: left;
}

i {
    font-size: 4em;
}
section > h3{
    font-weight: bold;
}
h2{
    background-color: #757575;
    color:whitesmoke;
}
.socials{

}
.info{
    background-color: whitesmoke;
}